extends page-layout
block title 
  - var title ="Blog"
block content
    section.blog-header
        h1 Blog klubu Chow Chow
        p Tipy, rady a novinky pro všechny milovníky chow-chow;
    main.blog-main
        article.blog-post
            h2 Tipy pro pěči o Chow Chow
            p Jak správně pečovat o srst, výživu a zdraví vašeho pejska...
            a(href='#') číst více
        article.blog-post
            h2 Trénink a výchova
            p Nejlepší metody výcviku pro Chow Chow a jak zvládat jejich samostatnou povahu...
            a(href='#') číst více
        article.blog-post
            h2 Zdravotní pěče
            p
                | Jak udržet vašeho psa v nejlepší kondici a předcházet typickým zdravotním problémům...
            a(href='#') číst více

