header
  .logo
    a(href='index.html')
      img(src='img/logofooter.png' alt='Chow Chow Club')
    span Chow Chow Club
  nav
    ul
      li
        a(href='#about') O klubu
      // <li><a href="#membership">Výhody</a></li>
      li
        a(href='#blog') Blog
      li
        a(href='#contact') Kontakt
